<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %} ZPH {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="singhj">

    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap-min.css">
    <link rel="stylesheet" type="text/css"  href="/static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css"  href="/static/css/zakipoint.css">
    <link rel="stylesheet" type="text/css"  href="/static/css/animate.min.css">

    <link rel="shortcut icon" type="image/png" href="/static/images/favicon-transparent.png"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>

    {% block headopt %}
    {% endblock %}

  </head>

  <body>
    <div id="page-top" />

    {% block nav %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  {% if channel_logo %}
          <a class="navbar-brand" href="/"><img width="160" height="30" src="{{ channel_logo }}?version={{ version }}" ></a>
	  {% else %}
          <a class="navbar-brand" href="/"><img width="160" height="30" src="/static/images/logo-blue-transparent.png?version={{ version }}" ></a>
	  {% endif %}
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="padding-top: 6px;">
	    {% if session.username %}
            <li><a href="/home#page-top">Overview</a></li>
            <li><a href="/home#cost-driver">Cost Driver</a></li>
            <li><a href="/home#cohorts">Population</a></li>
	    {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session.username %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 20px;"><span class="fa fa-user"></span> {{ fullname }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/signout"><span class="fa fa-sign-out"></span> Signout</a></li>
                  <li><a href="#"><span class="text-muted"><span class="fa fa-user"> Profile</span></a></li>
                </ul>
              </li>
	    {% else %}
	      <!-- No username -->
            {% endif %}
          </ul>
        </div><!--/.navbar-collapse -->
      </div>

    </div>

    {% endblock %} <!-- endblock nav -->


    {% block 2ndnav %}

    {% endblock %}  <!-- endblock 2ndnav -->

        {% block messages %}
        <!-- messages, hidden for growl to pick up -->
        <div class="container">
        <div class="row hidden">
        <div class="col-md-10">

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message|safe }}
            </div>
          {% endfor %}
        {% else %}
          No messages!
        {% endif %}

          </div>
        </div>
      </div>
      {% endblock %}

    {% block container_content %}
      <div class="container">

        {% block page_header %}
        {% endblock %} <!-- endblock page_header -->

      </div> <!-- /container -->
    {% endblock %}  <!-- endblock container_content -->


    {% block footer %}

      <div class="footer">
        <div class='container'>
          <small><p class="text-muted">&copy; Zakipoint <em>Health</em> 2015  <span class="pull-right">Version 0.0000</span></p></small>
        </div>
      </div>

    {% endblock %}  <!-- endblock footer -->

    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/libs/jquery.min.js"><\/script>')</script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- <script src="/static/js/libs/bootstrap.min.js"></script> -->

    <!-- TODO - move this to an app-specific .js file, its for navbars -->
    <script>
      function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
        var csrftoken = Cookies.get('csrftoken');
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
    {% block loadscript %}
      /* Javascripts to be loaded after the page is done loading, 
	 must not include their own script tags,
	 may include AJAX calls */
    {% endblock %}  
      });
    </script>
      <!-- Javascripts on the page, must include their own script tags, may include AJAX calls -->
      {% block pagescript %}
      {% endblock %}  <!-- pagescript -->

    <script src="/static/js/bootstrap-growl.min.js"> </script>
    <script src="/static/js/app-growl.js"> </script>
    <script src="/static/js/js.cookie.js"> </script>
    <script src="/static/js/json2.min.js"> </script>

    {% block footopt %}
    {% endblock %}  <!-- footopt (load other bottom of page scripts, etc... here) -->

  </body>
</html>
