{% extends "base.html" %}

{% block container_content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
	<img src="static/dimages/20150720_narrow_network_1.png" />
      </div>
<table width="100%">
  <td><hr color="#ccc"/></td>
  <td style="width:1px; padding: 0 10px; white-space: nowrap;">Redesign Benefits Plan</td>
  <td><hr color="#ccc" /></td>
</table>
      <div class="col-md-12">
	<img src="static/dimages/20150720_narrow_network_2.png" />
      </div>
<table width="100%">
  <td><hr color="#ccc"/></td>
  <td style="width:1px; padding: 0 10px; white-space: nowrap;">Investigate Costs</td>
  <td><hr color="#ccc" /></td>
</table>
      <div class="col-md-12">
	<img src="static/dimages/20150720_narrow_network_3.png" />
      </div>

    </div>

  </div>


{% endblock %}
