{% extends "base.html" %}

{% block container_content %}

  <div class="container">
  <div class="row">

    <div class="col-md-12"><div style="text-align:center; display:block;">
	{% if hm_flag %}
	  <img src="static/dimages/cedar-rapids-logo.png?version={{ version }}" style="width: 224px;" />
	{% endif %}
    </div></div>
    <div class="row">
      <p>Eligible</p>
      <div class="col-md-12" id="eligible" style="height: 44px; text-align:center; display:block;">
      </div></div>
    <div class="row">
      <p>Participating</p>
      <div class="col-md-12" id="participating" style="height: 44px; text-align:center; display:block;">
      </div></div>
    <div class="row">
      <div class="col-md-12"><div style="text-align:center; display:block;">
	<img src="static/dimages/cost_driver_biometrics_oct6.png?version={{ version }}" />
      </div></div>
    </div>
  </div>


{% endblock %}
{% if hm_flag %}
{% block loadscript %}
        $.post('/rpc/1/home/', {'func': 'eligible', 'args': JSON.stringify([])}, function(data) {
          $("#eligible").html(data);
        }).fail(function() {
          $("#eligible").html('Error with eligibility rates');
        }); 

        $.post('/rpc/1/home/', {'func': 'participating', 'args': JSON.stringify([])}, function(data) {
          $("#participating").html(data);
        }).fail(function() {
          $("#participating").html('Error with participation rates');
        });

{% endblock %}  <!-- loadscript -->
{% endif %}
{% block pagescript %}
{% endblock %}
