{% extends "base.html" %}

    {% block container_content %}

    <div class="container">

      {% block page_header %}
        <div class="page-header">
          <h1>Welcome to Zakipoint Alpha. <br/>
	    <small class="text-muted">Use of this system is restricted to trusted testers</small></h1>
        </div>
      {% endblock %} <!-- endblock page_header -->

      <div class="row">

          <div class="col-md-6">
            <a href="/signin" class="btn btn-primary btn-lg active" role="button">Sign In</a>
          </div>
      </div>

    </div>

    {% endblock %}

