{% extends "base.html" %} {% block container_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="static/dimages/20150728_home_1.png" />
        </div>
        <table width="100%">
            <td>
                <hr color="#ccc" />
            </td>
            <td style="width:1px; padding: 0 10px; white-space: nowrap;">Redesign Benefits Plan</td>
            <td>
                <hr color="#ccc" />
            </td>
        </table>
        <div class="col-md-12">
            <div id="bubblechart" class="col-md-8" style="min-width:310px; height:400px;margin:0 auto"></div>
            <a href="narrow_network">
                <img src="static/dimages/20150728_home_2.png" />
            </a>
            <div class="col-md-3">
            </div>
            <div id="PMPM" class="col-md-9" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <table width="100%">
            <td>
                <hr color="#ccc" />
            </td>
            <td style="width:1px; padding: 0 10px; white-space: nowrap;">Investigate Costs</td>
            <td>
                <hr color="#ccc" />
            </td>
            <div class="col-md-12">
                <img src="static/dimages/20150728_home_3.png" />
            </div>
        </table>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-4">
                    <img alt="140x140" src="1.png" class="img-rounded" />
                    <blockquote>
                        <p>
                        </p> <small>keywords <cite>open source</cite></small>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img alt="140x140" src="1.png" class="img-rounded" />
                    <blockquote>
                        <p>
                        </p> <small>keywords <cite>open source</cite></small>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img alt="140x140" src="1.png" />
                    <blockquote>
                        <p>
                        </p> <small>keywords <cite>open source</cite></small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-4">
                    <img alt="140x140" src="1.png" />
                    <blockquote>
                        <p>
                        </p> <small>keywords <cite>open source</cite></small>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img alt="140x140" src="1.png" />
                    <blockquote>
                        <p>
                        </p> <small>keywords <cite>open source</cite></small>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img alt="140x140" src="1.png" />
                    <blockquote>
                        <p>
                        </p> <small>keywords <cite>open source</cite></small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-4">
                    <img alt="140x140" src="1.png" />
                    <blockquote>
                        <p>
                        </p> <small>keywords <cite>open source</cite></small>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img alt="140x140" src="1.png" />
                    <blockquote>
                        <p>
                        </p> <small>keywords <cite>open source</cite></small>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <img alt="140x140" src="1.png" />
                    <blockquote>
                        <p>
                        </p> <small>keywords <cite>open source</cite></small>
                    </blockquote>
                </div>
            </div>
        </div>
        <table width="100%">
            <td>
                <hr color="#ccc" />
            </td>
            <td style="width:1px; padding: 0 10px; white-space: nowrap;">Explore the Population</td>
            <td>
                <hr color="#ccc" />
            </td>
        </table>
        <div class="col-md-6 col-md-offset-3">
            <h1>Employee Cohorts</h1>
            <p>
                <a class="btn btn-lg btn-info" role="button" href="#">
                    USE COHORT ANALYSIS TOOL
                </a>
            </p>
            <p class="lead">or jump to a popular cohort below</p>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <h4>Gender</h4>
                <a href="#"><strong class="text-primary" >Male</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Female</strong></a>
                <h4>Age</h4>
                <a href="#"><strong class="text-primary">Under 18</strong></a>
                <br>
                <a href="#"><strong class="text-primary">18-30</strong></a>
                <br>
                <a href="#"><strong class="text-primary">31-45</strong></a>
                <br>
                <a href="#"><strong class="text-primary">46-60</strong></a>
                <br>
                <a href="#"><strong class="text-primary">61-75</strong></a>
                <br>
                <a href="#"><strong class="text-primary">76 or older</strong></a>
                <br>
            </div>
            <div class="col-md-3">
                <h4>Eligibility Type</h4>
                <a href="#"><strong class="text-primary">Employee</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Spouse</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Dependent</strong></a>
                <br>
                <h4>Office Location</h4>
                <a href="#"><strong class="text-primary">Boston</strong></a>
                <br>
                <a href="#"><strong class="text-primary">New York</strong></a>
                <br>
            </div>
            <div class="col-md-3">
                <h4>Medical Plan</h4>
                <a href="#"><strong class="text-primary">PPO</strong></a>
                <br>
                <a href="#"><strong class="text-primary">HMO</strong></a>
                <br>
                <a href="#"><strong class="text-primary">High-deductible(HRA)</strong></a>
                <br>
                <a href="#"><strong class="text-primary">High-deductible(HSA)</strong></a>
                <br>
                <h4>Risk Score</h4>
                <a href="#"><strong class="text-primary">High</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Medium</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Low</strong></a>
                <br>
            </div>
            <div class="col-md-3">
                <h4>Conditions</h4>
                <a href="#"><strong class="text-primary">Diabetes</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Heart Disease</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Lung Cancer</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Asthma</strong></a>
                <br>
                <h4>Wellness Program</h4>
                <a href="#"><strong class="text-primary">Level 1</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Level 2</strong></a>
                <br>
                <a href="#"><strong class="text-primary">Level 3</strong></a>
                <br>
            </div>
        </div>
        <div class="col-md-12">
            <img src="static/dimages/20150728_home_4.png" />
        </div>
    </div>
</div>
{% endblock %}